[Desktop Entry]
Exec=lxqt-globalkeysd
Hidden=true
Name=Global Keyboard Shortcuts
Name[cs]=Celkov klvesov zkratky
Name[cs_CZ]=Celkov klvesov zkratky
Name[da]=Globale genvejstaster
Name[da_DK]=Globale genvejstaster
Name[de_DE]=Globale Hotkeys
Name[el_GR]=
Name[es]=Atajos Globales del Teclado
Name[es_VE]=Atajos de teclados de LxQt
Name[eu]=Teklatuko lasterbide orokorrak
Name[fi]=Yleiset pikanppimet
Name[it_IT]=Scorciatoie globali della tastiera
Name[pl_PL]=Globalne Skrty Klawiszowe
Name[pt]=Teclas de atalho globais
Name[pt_BR]=Atalhos Globais Do Teclado
Name[ro_RO]=Taste rapide globale
Name[ru]=
Name[ru_RU]=
Name[th_TH]=
Name[uk]=
Name[zh_CN]=
Name[zh_TW]=
OnlyShowIn=Razor;
TryExec=lxqt-globalkeysd
Type=Application
X-LxQt-Module=true
